[Desktop Entry]
StartupWMClass=cable
Name=Cable
Comment=Dynamically modify Pipewire and Wireplumber settings
Exec=python3 Cable.py %u
Icon=jack-plug
Terminal=false
Type=Application
Categories=Utility;
Path=/full/path/to/your/directory/with/pulled/files
